<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663974007514-tppr3dl1eksbhd88u9aaeeaota7llc46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663974007514-tppr3dl1eksbhd88u9aaeeaota7llc46</string>
	<key>API_KEY</key>
	<string>AIzaSyAn_stn3U2AWK2d4ZbCwntb5c46zaEsDc4</string>
	<key>GCM_SENDER_ID</key>
	<string>663974007514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JeremyEuchi.FireflyDemo</string>
	<key>PROJECT_ID</key>
	<string>firefly-fde6c</string>
	<key>STORAGE_BUCKET</key>
	<string>firefly-fde6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:663974007514:ios:bcc1d2169bd074f0c54be3</string>
	<key>DATABASE_URL</key>
	<string>https://firefly-fde6c.firebaseio.com</string>
</dict>
</plist>
